
.custom-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .btn-rephase {
    padding: 5px 25px 6px;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 25px;
    text-transform: capitalize;
    position: relative;
    width: 140px;
    min-height: 40px;
    margin-top: 10px;
  }

  .upload-section, .result-section {
    border: 1px solid #E3E3F0;
    /* border-radius: 8px; */
    padding: 10px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F7F7FA;
    height: 455px;
  }
  