<div class="container-fluid">
    <div class="container">
        <div class="row  text-center justify-content-center" style=" align-content: center" id="paraph-main">
            <div class="col-lg-9 col-md-9 mb-4" id="footergrammartext">
                <h1 class="w-100 fnt-w600-40 " style="margin-top: 40px;">Paraphrasing Tool</h1>
            </div>
        </div>
        <div class="custom-card">
            <div class="row">
                <div class="col-lg-12 col-md-10 col-12 top-bar">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <h6>Orignal</h6>
                            <div class="upload-section">
                                <div id="editor">
                                    <div class="upload-buttons">
                                        <button class="btn btn-dark"
                                            style="border: 1px solid #E3E3F0;width: 154px;height: 46px;border-radius: 8px; margin-right: 10px;" (click)="sampletext()">
                                            Sample Text</button>
                                        <button class="btn btn-dark"
                                            style="border: 1px solid #E3E3F0;width: 154px;height: 46px;border-radius: 8px;" (click)="pasteText()" >
                                            Paste text</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h6> Result</h6>
                            <div class="result-section">
                            
                            </div>
                        </div>
                    </div>
                    <div style="display: contents;">
            
                        <button class="btn btn-dark btn-rephase">Rephrase</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>